/* responsive css */
/* oh god please help my poor soul  */
/* the project wasn't done, but I am done lol */
/* didn't think so much about responsive css earlier
so now I am struggling to make the whole things work*/
/* it was pain in the a*s tbh */
/* god damn it bye */
/* I ain't gonna write 400 lines of code only to make it responsive */

@media screen and (max-width: 480px) {

  * {
    width: 100%;
  }

  /* erased figure */

  .sub-form {
    display: none;
  }

  .main-search {
    display: none;
  }

  .login-text {
    display: none;
  }

  .fa-chevron-up {
    font-size: 60px;
    color: black;
    background-color: cyan;
    opacity: 0.2;
  }

  .fa-chevron-up:hover {
    opacity: 0.2;
  }

  .nav-container li{
    display: none;
  }

  .banner-product {
    display: none;
  }

  /* recolor, resize and repositioning */

  .main-name {
    text-align: center;

  }

  .main-name h1 {
    font-size: 27px;
    margin-top: 5px;
  }

  .main-name p {
    font-size: 13px;
  }

  .fa-search {
    text-align: center;
    display : inline-flex;
  }

  .fa-shopping-cart {
    display: inline-flex;
  }

  .nav-container {
    /* position: fixed; */
    height: 100%;
    max-width: 100%;
  }

  .bars {
    max-width: 50px;
    font-size: 25px;
    display: inline-flex;
  }

  .picture-container {
    padding-top: 30px;
    position: relative;
  }

}

@media screen and (max-width: 1800px) {

  * {
    overflow-x: hidden;
  }

  .highlights-container {
      position: relative;
      top: -120px;
  }

  svg {
      position: relative;
      left: -20px;
  }


  .form-right {
      float: right;
      display: inline-block;
      padding-right: 850px;
      padding-top: 15px;
  }

  .fa-envelope {
      margin-left: 800px;
  }

  .brands-wrapper {
    position: relative;
    top: -130px;
  }

  .form-right {
    float: right;
    display: inline-block;
    position: absolute;
    margin-left:380px;

  }
}


@media screen and (max-width: 1200px) {

  .highlights-container {
      position: relative;
      height: 800px;
      top: -230px;
  }

  svg {
      position: relative;
      left: -15px;
  }

  .content {
    width:30%;
  }

  .form-right {
      float: right;
      display: inline-block;
      padding-right: 850px;
      padding-top: 15px;
  }

  .fa-envelope {
    margin-left: 400px;
  }

  .brands-wrapper {
    position: relative;
    top: -230px;
  }

  .form-right {
    float: right;
    display: inline-block;
    position: absolute;
    margin-left:180px;

  }
}
